body{
    margin:0px;
   background-image: url("./img/FondoHang.jpg");
   background-size: cover;
   background-position: right;
}

#general{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    justify-content:center;
    width:55%;
    transition:all 1s;
}

#lowerSide{
    display:flex;
    flex-direction:column;
    align-items:center;
}

#message{
    font-family: 'Bangers', cursive;
    color:rgb(87, 7, 7);
    font-size: 7vw;
}

.form{
    display:flex;
    margin:20px;
}

#guess-form{
    margin:0;
}
#reset-button{
    margin-left:30px;
}

#squares{
    display: flex;
    justify-content: center;
}
#squares ul{
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    width:60%;
    
   
}
.letra{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width:0.5px;
    border-color:lightslategray;
    border-radius:50%;
    list-style: none;
    width:25px;
    height:25px;
    color:lightslategray;
    margin:3px;
}

#blanks{
    color:lightslategray;
    font-size: 55px;
    letter-spacing:10px;
}

#lifes{
    color:white;
    margin-top:35px;
}


@media (max-width:1000px){
    #general{
        width:100%;
        background-image: url("./img/hangman2.jpg");
        background-position: center;
        transition:all 1s;
    }

    #message{
       text-align:center;
       font-size:60px;
    }

    
}
@media (max-width:500px){
    #blanks{
        font-size:30px;
    }

    .form{
        display:flex;
        flex-direction:column;
    }

    #guess-form{
        display:flex;
        flex-direction:column;
    }

    #reset-button{
        margin:15px 0;
    }

    #submit-button{
        margin:5px 0;
    }
}
